body,
button,
html,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

input[type=submit] {
  background-color: rgba(9, 30, 66, .04);
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type=submit].primary {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
}

textarea {
  width: 100%;
  background-color: #fafbfc;
  border: none;
  color: #172b4d;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  /* margin-bottom: 12px; */
  padding: 8px 12px;
}

a {
  text-decoration: none;
}

body {
  background-color: #0079BF;
  margin: 0px;
}

div {
  display: block;
}

.board.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  transition: margin .1s ease-in;
}

.board-header {
  flex: none;
  height: auto;
  padding: 8px 4px 8px 8px;
  position: relative;
  color: #172b4d;
}

.board-header-btn {
  cursor: default;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding-left: 4px;
  padding-right: 2px;
  text-decoration: none;
  max-width: calc(100% - 12px);
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  color: #fff;
  position: relative;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 0 0;
}

.board-header-btn:hover {
  background-color: #005485;
}

.board-canvas {
  position: relative;
  flex-grow: 1;
}

.board-canvas-inside {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
}

.list-wrapper:first-child {
  margin-left: 8px;
}

.list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-content {
  background-color: #dfe1e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}

.list-header-text {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -4px 0;
  height: 20px;
  min-height: 20px;
  padding: 4px 8px;
  resize: none;
  max-height: 256px;
  cursor: pointer;
  overflow-wrap: break-word;
}

.list-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.list-elements {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  min-width: 89%;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 6px 8px 2px;
  overflow: hidden;
}

.list-elements:hover {
  background-color: #F4F5F7;
}

.fa-trash {
  color: rgb(224, 60, 60);
  border-radius: 3px;
  opacity: .6;
  padding: 4px;
  z-index: 40;
  cursor: pointer;
}

.event-container {
  display: flex;
}

.open-card {
  flex: 0 0 auto;
  padding: 8px 8px 8px;
  position: relative;
  min-height: 20px;
  text-decoration: none;
  color: #6b778c;
}

.open-card:hover {
  background-color: #C3C8D1;
  border-radius: 0 0 3px 3px;
}

.icon-add::before {
  content: "+";
}

.hide {
  display: none;
}

.list-elements.over {
  border: 1px dashed #000;
}

.title {
  padding-left: 8px;
  padding-right: 10px;
}

.resize {
  height: calc(100%+150px);
}

#input-namechange {
  width: 93%;
  border-radius: 3px;
  outline: 2px dashed darkblue;
}

.u-clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.icon-close:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1.3em;
  color: red;
  content: "\f00d";
  cursor: pointer;
}

.list-card-details {
  padding-left: 0;
  margin-left: 0;
}

.card-composer {
  padding-bottom: 8px;
}

.placeholder {
  padding: 8px 8px;
  color: #C3C8D1;
}

.list-wrapper.mod-add {
  background-color: #1c46ad;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  height: auto;
  line-height: normal;
  min-height: 32px;
  min-width: 200px;
  padding: 6px;
  transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
}

.mod-add:hover {
  background-color: #16378a;
}

.add-list>.card-composer {
  padding-top: 6px;
}